<web-app>
    <servlet>
        <servlet-name> index.jsp </servlet-name>
        <jsp-file> /webapp/index.jsp </jsp-file>
        <load-on-startup> 1 </load-on-startup>
    </servlet>  
    <servlet>
        <servlet-name> cache0.jsp </servlet-name>
        <jsp-file> /webapp/cache0.jsp </jsp-file>
        <load-on-startup> 2 </load-on-startup>
    </servlet>  
    <servlet>
        <servlet-name> cache1.jsp </servlet-name>
        <jsp-file> /webapp/cache1.jsp </jsp-file>
        <load-on-startup> 1 </load-on-startup>
    </servlet>  
</web-app>